# Ignore the virtual environment folder
.venv/
venv/
.vscode
# Ignore environment variables
.env
__pycache__
__pycache__/
*.py[cod]
*.db
selenium*
instance/

# Logs and debugging files
*.log
logs/

# Flask-Migrate (Alembic)
migrations/alembic.ini
migrations/env.py
migrations/script.py.mako
*.pyc
*.pyo

# Migration scripts should be kept, ignore other files if needed
!migrations/versions/

# IDE/editor-specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Compiled static assets
node_modules/
dist/
build/
*.map
muistilista*
test/
project_structure.txt