# Ignore the virtual environment folder
.venv/
venv/
.vscode
# Ignore environment variables
.env
__pycache__
__pycache__/
*.py[cod]
*.db
selenium*
instance/
get_testing*

# Logs and debugging files
*.log
logs/

# Flask-Migrate (Alembic)
migrations/alembic.ini
migrations/script.py.mako
*.pyc
*.pyo
hockey_data_dev.sql
prod_schema.sql

# Migration scripts should be kept, ignore other files if needed
!migrations/versions/

# IDE/editor-specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Compiled static assets
node_modules/
dist/
build/
*.map
muistilista*
test/
project_structure.txt
classes_sovellus*
packages_sovellus*

# ignore files in flask_sessions folder
flask_session/
flask_session/*
flask_session/.gitkeep
flask_session/.gitignore