<!-- gamefetcher.html -->
{% extends "layout.html" %}

{% block content %}

<!--    <h1 class="text-center">Welcome to the Hockey Data Fetcher!</h1> -->
    <p class="text-center">Hae valitsemiesi joukkueiden ottelut ja esitä ne yhdessä taulukossa.
        Voit hakea useita peliryhmiä eri lohkoista ja lisätä ne yksitellen taulukkoon.</p>

        <!-- Form for fetching games -->
    <form id="fetchForm" action="/fetch_games" method="POST" class="mt-4">
        <!-- Season Dropdown -->
        <div class="form-group row">
            <label for="season" class="col-sm-2 col-form-label">Kausi:</label>
            <div class="col-sm-10">
                <select id="season" name="season" class="form-control" required>
                    <option value="2025">2024-2025</option>
                    <option value="2024">2023-2024</option>
                </select>
            </div>
        </div>

        <!-- Levels Dropdown -->
        <div class="form-group row">
            <label for="levels" class="col-sm-2 col-form-label">Taso:</label>
            <div class="col-sm-10">
                <select id="levels" name="level_id" class="form-control" required>
                    <option value="">Valitse taso</option>
                </select>
            </div>
        </div>

        <!-- Stat Groups Dropdown -->
        <div class="form-group row">
            <label for="statgroups" class="col-sm-2 col-form-label">Sarja/lohko:</label>
            <div class="col-sm-10">
                <select id="statgroups" name="statgroup" class="form-control" required>
                    <option value="">Valitse sarja/lohko</option>
                </select>
            </div>
        </div>

        <!-- Teams Dropdown (Multiple Selection) -->
        <div class="form-group row">
            <label for="teams" class="col-sm-2 col-form-label">Joukkueet:</label>
            <div class="col-sm-10">
                <select id="teams" name="teams" class="form-control" multiple required>
                    <option value="">Valitse joukkueet</option>
                </select>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
            <div class="col-sm-12 text-center">
                <input type="submit" value="Lisää joukkueiden ottelut taulukkoon" class="btn btn-primary">
            </div>
        </div>
    </form>

    <div class="d-flex justify-content-center mt-4">
        <!-- Clear Button -->
        <button type="button" id="clear" class="btn btn-danger mx-2">Tyhjennä taulukko</button>
        <!-- Highlight Games Button -->
        <button type="button" id="highlightButton" class="btn btn-info mx-2">Korosta päällekkäiset</button>
    </div>

    <!-- Selected Teams Placeholder -->
    <div id="selectedTeamsList" class="alert alert-info mt-4" style="display: none;">
        <strong>Näytetään seuraavien joukkueiden ottelut:</strong><br>
        <span id="teamsNames"></span>
    </div>

    <!-- Games Table -->
    <h2 class="text-center mt-5">Otteluluettelo</h2>
    <div class="table-responsive">
        <form id="forwardGamesForm">
            <table id="gamesTable" class="display table table-striped table-bordered mt-3" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th>Select</th>
                        <th>Team ID</th>
                        <th>Game ID</th>
                        <th>Pvm</th>
                        <th>Klo</th>
                        <th>Kotijoukkue</th>
                        <th>Vierasjoukkue</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Halli</th>
                        <th>Sarjataso</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </form>
    </div>

    <!-- Forward Selected Games Button -->
    <div class="d-flex justify-content-center mt-4">
        <button type="button" id="forwardGamesButton" class="btn btn-success">Lähetä Jopoxiin</button>
    </div>
</form>
{% endblock %}
