<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Hockey Data</title>
    <!-- jQuery and DataTables dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>

<body>
    <div class="container">
        <h1 class="mt-4">Fetch Games</h1>

        <!-- Form for fetching games -->
        <form id="fetchForm" action="/fetch_games" method="POST">
            <!-- Season Dropdown -->
            <div class="form-group">
                <label for="season">Kausi:</label>
                <select id="season" name="season" class="form-control" required>
                    <option value="2025">2024-2025</option>
                    <option value="2024">2023-2024</option>
                </select>
            </div>

            <!-- Levels Dropdown -->
            <div class="form-group">
                <label for="levels">Taso:</label>
                <select id="levels" name="level_id" class="form-control" required>
                    <option value="">Valitse taso</option>
                </select>
            </div>

            <!-- Stat Groups Dropdown -->
            <div class="form-group">
                <label for="statgroups">Sarja/lohko:</label>
                <select id="statgroups" name="statgroup" class="form-control" required>
                    <option value="">Valitse sarja/lohko</option>
                </select>
            </div>

            <!-- Teams Dropdown (Multiple Selection) -->
            <div class="form-group">
                <label for="teams">Joukkueet:</label>
                <select id="teams" name="teams" class="form-control" multiple required>
                    <option value="">Valitse joukkueet</option>
                </select>
            </div>

            <!-- Submit Button -->
            <input type="submit" value="Lisää joukkueiden ottelut taulukkoon" class="btn btn-primary">
            
        </form>

        <br><br>

        <button type="button" id="clear" class="btn btn-danger mt-3">Tyhjennä taulukko</button>
        <!-- Highlight Games Button -->
        <button type="button" id="highlightButton" class="btn btn-info mt-3">Korosta päällekkäiset</button>

        <br><br>
        
        <!-- Placeholder for Selected Teams -->
        <div id="selectedTeamsList" class="alert alert-info" style="display: none;">
            <strong>Näytetään seuraavien joukkueiden ottelut:</strong>
            <span id="teamsNames"></span>
        </div>
        
        <!-- Placeholder for displaying the games table -->
        <h2>Otteluluettelo</h2>
        <form id="forwardGamesForm">
            <table id="gamesTable" class="display table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Team ID</th>
                        <th>Game ID</th>
                        <th>Pvm</th>
                        <th>Klo</th>
                        <th>Kotijoukkue</th>
                        <th>Vierasjoukkue</th>
                        <th> </th>
                        <th> </th>
                        <th>Halli</th>
                        <th>Sarjataso</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- Forward Selected Games Button -->
            <button type="button" id="forwardGamesButton" class="btn btn-success mt-4">Lähetä Jopoxiin</button>
        </form>
    </div>

    
</body>

</html>
