{% extends "layout.html" %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <h2>Tervetuloa, {{ current_user.username }}!</h2>
    </br>
    </div>
    <div class="container">
        <h2>Sovelluksen käyttö</h2>
        <br>
        <p>1. Valitse hallinnoimasi ja seuraamasi joukkueet kohdasta "Omien joukkueiden valinta"</p>
        <p>2. Aktivoi Jopox-yhteys.</p>
        <p>3. Tarkastelejoukkueidesi otteluita kohdassa "Omien joukkueiden ottelut"</p>
        
    </div>
{% endblock %}
