{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h2>Tervetuloa testaamaan iGM-sovellusta!</h2>
    </br>
    </div>
    <div class="container">
        <h2>Sovelluksen käyttö</h2>
        <p>1. Rekisteröidy tai kirjaudu sovellukseen.</p>
        <p>1. Valitse hallinnoimasi ja seuraamasi joukkueet kohdasta "Omien joukkueiden valinta"</p>
        <p>2. Tarkastele valitsemiesi joukkueiden otteluita kohdassa "Omien joukkueiden ottelut"</p>
        <p>3. Voit käyttää "Vapaa otteluohjelmahaku" -toimintoa hakeaksesi minkä tahansa joukkueen ohjelman. </p>
        
    </div>
{% endblock %}
