{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h2>Tervetuloa, {{ current_user.username }}!</h2>
    </br>
    </div>
    <div class="container">
        <h2>Sovelluksen käyttö</h2>
        <p>1. Rekisteröidy tai kirjaudu sovellukseen.</p>
        <p>2. Valitse hallinnoimasi ja seuraamasi joukkueet kohdasta "Omien joukkueiden valinta"</p>
        <p>3. Aktivoi Jopox-yhteys.</p>
        <p>4. Tarkastelejoukkueidesi otteluita kohdassa "Omien joukkueiden ottelut"</p>
        
    </div>
{% endblock %}
